{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale="1.0">
        <title>Transaction Website Login</title>
        <link rel="stylesheet" href="{% static 'transaction/front_page.css'%}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <header>
            <h2 class="logo">LoGo</h2>
            <nav class="navigation">
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Services</a>
                <a href="#">Contact</a>
                <button class="btnLogin-popup" onclick="location.href ='/card'">Login</button>
            </nav>
        </header>

        <section class="home">
            <div class="content">
                <h1>Secure<br><span>Payment</span></h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
                <a href="#"><u>Read More</u></a>
            </div>
            <div class="media-icons">
                <a href="https://www.facebook.com/"><i class="fa fa-facebook-official" style="font-size:30px;color:blue"></i></i></a>
                <a href="https://www.instagram.com/"><i class="fa fa-instagram" style="font-size:30px;color:rgb(187, 83, 161)"></i></a>
                <a href="https://www.linkedin.com/"><i class="fa fa-linkedin-square" style="font-size:30px;color:blue"></i></a>
                <a href="https://www.twitter.com/"><i class="fa fa-twitter-square" style="font-size:30px;color:rgb(116, 171, 225)"></i></i></a>
                <a href="https://github.com/"><i class="fa fa-github" style="font-size:32px;color:rgb(38, 42, 49)"></i></i></a>
                
            </div>
        </section>

        <script src=""script.js"></script>
    </body>
</html>